
<label for="name">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="ansi">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.ansi" />
</label><br />
	<f:form.textfield property="ansi" /><br />
<label for="price">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="description">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="date">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.date" />
</label><br />
	<f:form.textfield property="date"  value="{products.date->f:format.date()}" /><br />
<label for="image">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="rate">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.rate" />
</label><br />
	<f:form.textfield property="rate" /><br />
<label for="taxe">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.taxe" />
</label><br />
	<f:form.textfield property="taxe" /><br />
<label for="affiliateLink">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.affiliate_link" />
</label><br />
	<f:form.textfield property="affiliateLink" /><br />
<label for="affiliateButtonText">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.affiliate_button_text" />
</label><br />
	<f:form.textfield property="affiliateButtonText" /><br />
<label for="internLink">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.intern_link" />
</label><br />
	<f:form.textfield property="internLink" /><br />
<label for="internButtonText">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.intern_button_text" />
</label><br />
	<f:form.textfield property="internButtonText" /><br />
<label for="allReview">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.all_review" />
</label><br />
	<f:form.textfield property="allReview" /><br />
<label for="singleReview">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.single_review" />
</label><br />
	<f:form.textfield property="singleReview" /><br />
<label for="dateReview">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.date_review" />
</label><br />
	<f:form.textfield property="dateReview" /><br />
<label for="recommendation">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.recommendation" />
</label><br />
	<f:form.textfield property="recommendation" /><br />
<label for="aktive">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.aktive" />
</label><br />
	<f:form.checkbox property="aktive" value="1" /><br />
<label for="category">
	<f:translate key="tx_osamazonaffiliate_domain_model_products.category" />
</label><br />
	<f:form.textfield property="category" /><br />