
<table class="tx-os-amazon-affiliate" >
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.name" />
		</td>
		<td>
			{products.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.ansi" />
		</td>
		<td>
			{products.ansi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.price" />
		</td>
		<td>
			{products.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.description" />
		</td>
		<td>
			{products.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.date" />
		</td>
		<td>
			{products.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.image" />
		</td>
		<td>
			{products.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.rate" />
		</td>
		<td>
			{products.rate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.taxe" />
		</td>
		<td>
			{products.taxe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.affiliate_link" />
		</td>
		<td>
			{products.affiliateLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.affiliate_button_text" />
		</td>
		<td>
			{products.affiliateButtonText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.intern_link" />
		</td>
		<td>
			{products.internLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.intern_button_text" />
		</td>
		<td>
			{products.internButtonText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.all_review" />
		</td>
		<td>
			{products.allReview}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.single_review" />
		</td>
		<td>
			{products.singleReview}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.date_review" />
		</td>
		<td>
			{products.dateReview}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.recommendation" />
		</td>
		<td>
			{products.recommendation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.aktive" />
		</td>
		<td>
			{products.aktive}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_osamazonaffiliate_domain_model_products.category" />
		</td>
		<td>
			{products.category}
		</td>
	</tr>
</table>